.features_container {
  width: 483px;
  height: 3357.5px;
  text-align: center;
  margin-top: 40px;
}
.features_row1 {
  width: 100%;
  height: 292px;
}
.features_row1_container_left {
  width: 100%;
  height: 244px;
  padding: 0px 15px;
}
.features_row1_h2 {
  width: 100%;
  height: 32px;
  font-size: 1.5rem;
  line-height: 1.33333333;
  font-weight: 600;
  text-align: left;
  font-family: "Charlie Display", sans-serif;
}
.features_row1_p {
  width: 100%;
  height: 180px;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.5;
  color: #091e42;
  text-align: left;
  margin-bottom: 1.5rem;
}
.row2 {
  width: 100%;
  height: 659px;
  margin-bottom: 0px;
}
.row2_image {
  width: 481px;
  height: 362px;
}
.row2_col {
  width: 540px;
  height: 252px;
  padding: 0px 15px;
  background-color: red;
}

/* --------------768--------------------------------------- */
@media only screen and (min-width: 768px) {
  .features_container {
    width: 720px;
    height: 2102px;
    margin-top: 250px;
  }
  .features_row1 {
    width: 100%;
    height: 248px;
  }
  .features_row1_container_left {
    width: 100%;
    height: 200px;
  }
  .features_row1_h2 {
    width: 100%;
    height: 48px;
    margin-bottom: 8px;
    font-size: 2.25rem;
    line-height: 1.33333333;
  }
  .features_row1_p {
    width: 100%;
    height: 120px;
    margin-bottom: 1.5rem;
    font-size: 20px;
  }
  .row2 {
    width: 100%;
    height: 354px;
    /* background-color: red; */
    margin-bottom: 0px;
  }
  .row2_image {
    width: 270px;
    height: 354px;
  }
}
/* ---------------976----------------------------------- */
@media only screen and (min-width: 976px) {
  .features_container {
    width: 960px;
    height: 2012px;
    margin-top: 130px 11.5px 0px 11.5px;
  }
  .features_row1 {
    width: 100%;
    height: 356px;
    padding: 24px 0px;
  }
  .features_row1_container_left {
    width: 480px;
    height: 308px;
  }
  .features_row1_h2 {
    width: 100%;
    height: 96px;
    margin-bottom: 8px;
    font-size: 2.25rem;
    line-height: 1.33333333;
  }
  .features_row1_p {
    width: 100%;
    height: 120px;
    margin-bottom: 1.5rem;
    font-size: 20px;
  }
}
/* ---------------1200------------------------------------------ */
@media only screen and (min-width: 1200px) {
  .features_container {
    width: 1140px;
    height: 2143px;
    margin-top: 330px;
  }
  .features_row1 {
    width: 100%;
    height: 326px;
  }
  .features_row1_container_left {
    width: 570;
    height: 278px;
  }
  .features_row1_h2 {
    width: 540px;
    height: 96px;
    margin-bottom: 8px;
    font-size: 2.25rem;
    line-height: 1.33333333;
  }
  .features_row1_p {
    width: 540px;
    height: 150px;
    margin-bottom: 1.5rem;
    font-size: 20px;
  }
}
